<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <table>
    <colgroup>
      <col span="1" style="text-align: left;">
      <col span="1" style="text-align: right;">
    </colgroup>
    <tr>
      <td>Part Number: </td>
      <td><%= locals.pt_number || 'null' %></td>
    </tr>
    <tr>
      <td>sta: </td>
      <td><%= locals.sta || 'null' %></td>
    </tr>
    <tr>
      <td>os_ptl: </td>
      <td><%= locals.os_ptl || 'null' %></td>
    </tr>
    <tr>
      <td>span: </td>
      <td><%= locals.span || 'null' %></td>
    </tr>
    <tr>
      <td>beam: </td>
      <td><%= locals.beam || 'null' %>
      </td>
    </tr>
    <tr>
      <td>location: </td>
      <td><%= locals.location || 'null' %>
      </td>
    </tr>
    <tr>
      <td>top_deck: </td>
      <td><%= locals.top_deck || 'null' %></td>
    </tr>
    <tr>
      <td>adj: </td>
      <td><%= locals.adj || 'null' %></td>
    </tr>
    <tr>
      <td>hundred: </td>
      <td><%= locals.hundred || 'null' %></td>
    </tr>
    <tr>
      <td>eighty: </td>
      <td><%= locals.eighty || 'null' %></td>
    </tr>
    <tr>
      <td>one: </td>
      <td><%= locals.one || 'null' %></td>
    </tr>
    <tr>
      <td>bottom_defl: </td>
      <td><%= locals.bottom_defl || 'null' %></td>
    </tr>
    <tr>
      <td>x_slope: </td>
      <td><%= locals.x_slope || 'null' %></td>
    </tr>
    <tr>
      <td>fill: </td>
      <td><%= locals.fill || 'null' %></td>
    </tr>
    <tr>
      <td>field_shot: </td>
      <td><%= locals.field_shot || 'null' %></td>
    </tr>
    <tr>
      <td>x_slope_two: </td>
      <td><%= locals.x_slope_two || 'null' %></td>
    </tr>
    <tr>
      <td>l_r_c: </td>
      <td><%= locals.l_r_c || 'null' %></td>
    </tr>
  </table>
  <div id="credits">
    Made by crispy cubes
  </div>
</body>

</html>